body {
  font: 18px helvetica neue;
  padding:0px;
  background-color: #f6f6f6;
}

#footnote {
  font-size: 14px;
  color: grey;
  margin-top: 50px;
}

#search-bar { 
  width: 910px; 
  text-align:left;
  color: black;
}

#search-div, #footnote, #title, #intro, #results-title {
  width:1000px;
  margin:0px auto;
  padding:15px;
  text-align:left;
}

#search-div .search-category {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

.typeahead {
  width: 972px;
}

#map-and-list {
  width: 1000px;
  height: 525px;
  overflow: hidden;
  margin: 0px auto;
  margin-bottom: 50px;
}

#map_canvas {
  width: 50%;
  height: 100%;
  float: right;
}

#results-container {
  background-color: white;
  /*white-space: nowrap; causes text not to wrap */
  height: 100%;
  width: 49%; 
  float: left;
  text-align: center;
}

.left-report tr > td {
  padding-bottom: 10px;
}

.right-report tr > td {
  padding-bottom: 0px;
}

.right-report, .left-report{
  background-color: white;
}

.big-text {
  font-size: 40px;
}

.small-text {
  font-size: 14px;
}

.right-report > table {
  margin-top: 5px;
}

.right-report {
  padding-right: 10px;
  width:29%;
  text-align:right;
  float:right;
}

.left-report {
 width:68%; 
 float:left;
}

.report {
  width:1000px;
  margin:0 auto;
  padding-bottom: 50px;
}

.axis text, .x.label, .y.label {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis line {
  stroke: #000; 
}

.x.axis path, .y.axis path {
  display: none;
}

.bar {
  fill: grey;
  fill-opacity: 1.;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chart {
  float: right;
  margin-top: 40px
}

.report, 
.right-report, .left-report{
  height: 320px;
}

#results-table tbody {
  width:490px;
}

#results-table tbody tr td:nth-child(1){
  width: 15%;
}
#results-table tbody tr td:nth-child(2){
  width: 30%;
}
#results-table tbody tr td:nth-child(3){
  width: 55%;
}

.dataTables_scrollBody {
  height: 400px;
}

